<mat-toolbar>
  <mat-toolbar-row class="top-bar">
    <a class="app-title" routerLink="/"><mat-icon color="primary">map</mat-icon>City map planner</a>

    <span class="spacer"></span>

    @if (basketCount() > 0) {
      <button mat-icon-button (click)="store.dispatch(poiActions.openBasked())">
        <mat-icon [matBadgeHidden]="basketCount() <= 0" [matBadge]="basketCount()" matBadgeSize="small">shopping_cart</mat-icon>
      </button>
    }

    <button mat-icon-button (click)="store.dispatch(authActions.openDialog())">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
