<mat-toolbar class="context-bar">
  <button mat-raised-button (click)="toggleSidenavs()">Toggle pane</button>
  <button mat-raised-button (click)="poiScheduleStore.manageSightSeeingDays()">Manage sightseeing days</button>
  <a routerLink="/" mat-raised-button>Go back to map</a>
  <a routerLink="/summary" mat-raised-button>Go to summary</a>
</mat-toolbar>

<mat-sidenav-container #sidenavContainer class="container">

  <mat-sidenav position="start" mode="side" opened class="unassigned-pois" #dragableUnassignedPois>
    @for (unassigned of poisInBasket(); track unassigned.id) {
      <app-poi-event [poi]="unassigned" [attr.data-event]="unassigned | toDataEvent"/>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <full-calendar [options]="calendarOptions()" [events]="poiScheduleStore.events()" [resources]="poiScheduleStore.resources()">
      <ng-template #eventContent let-arg>
        @if (arg.event.extendedProps.poi) {
          <app-poi-event [poi]="arg.event.extendedProps.poi"/>
        }
      </ng-template>
    </full-calendar>
  </mat-sidenav-content>

</mat-sidenav-container>
