<main class="container">
  <section class="map" id="map"></section>
  <aside class="controls">
    <mat-vertical-stepper #stepper [linear]="false" (selectedIndexChange)="onStepChange($event)">

      @for (event of poiScheduleStore.scheduledEvents(); track event.id) {
        <mat-step completed="false">
          <ng-template matStepLabel>{{ event.title }}</ng-template>
          <p>{{ event.start | date : 'short' }} - {{ event.end | date : 'short' }}</p>

          <div class="weather-container" >
            <div class="weather-item" *ngFor="let time of getSumHours(transformDate(event.start),transformDate(event.end))">
              {{time | date: 'H:mm' }}<app-weather-icons [data]="time"  /></div>
          </div>
          <div class="weather-container" >
              <app-weather-api [recommendedWeather]="event.extendedProps.poi.preferredWmoCodes"  />
          </div>

          <i>{{ event.extendedProps.poi.details.description }}</i>



          <section class="buttons">
            @if (!$first) {
              <button mat-raised-button color="primary" matStepperPrevious>Previous</button>
            }
            @if (!$last) {
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            }
          </section>

        </mat-step>
      }

    </mat-vertical-stepper>
  </aside>
</main>
