:host {
  flex-grow: 1;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 60% auto;

  .map {

  }

  .controls {
    display: flex;

    mat-vertical-stepper {
      width: 100%;
    }

    .buttons {
      margin-top: 0.5em;
      display: flex;
      gap: 0.5em;
    }
  }
  .weather-container { display: flex; }
  .weather-item { max-width: 50px;}
}
