mat-dialog-content {
  padding-top: 5px !important;
}

.time-spans {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.5em;
  align-items: center;

  .time-span {
    display: contents;

    .remove {
      margin-bottom: 2em;
    }
  }
}
@media screen and (max-width: 700px) {
  .time-spans{
    grid-template-columns: repeat(1, auto);
  }

}
