  <section class="add-timespan">

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input [min]="today" [formControl]="formGroup.controls.dateOnly" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-time-range-picker
      [formControlStart]="formGroup.controls.timeFrom"
      [formControlEnd]="formGroup.controls.timeTo"
    />

    <button mat-raised-button color="primary">Add sightseeing timespan</button>
  </section>
