:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .loader {
    min-height: 4px;
  }

  .list {
    flex-grow: 1;

    .fab {
      position: absolute;
      bottom: 1em;
      right: 1em;
    }
  }
}
