<main>
<!--  <mat-list>-->
<!--    <mat-list-item lines="3">-->
<!--      <img matListItemAvatar [src]="poi.map.iconSrc" alt="">-->
<!--      <span matListItemTitle>{{ poi.details.title }}</span>-->
<!--      <button mat-icon-button matListItemMeta (click)="this.store.dispatch(poiActions.removeFromBasket({-->
<!--        poiId: poi.id-->
<!--      }))">-->
<!--        <mat-icon>remove_shopping_cart</mat-icon>-->
<!--      </button>-->
<!--      {{ poi.details.description }}-->
<!--    </mat-list-item>-->
<!--  </mat-list>-->
</main>
<aside>

</aside>
