<mat-list>
  @for (poi of poisInBasket(); track poi.id) {
    <mat-list-item lines="3">
      <img matListItemAvatar [src]="poi.map.iconSrc" alt="">
      <span matListItemTitle>{{ poi.details.title }}</span>
      <button mat-icon-button matListItemMeta (click)="this.store.dispatch(poiActions.removeFromBasket({
        poiId: poi.id
      }))">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
      {{ poi.details.description }}
    </mat-list-item>
  }
</mat-list>

<a mat-dialog-close routerLink="/poi-schedule" mat-raised-button color="primary">Go to schedule</a>
