.poi {
  box-sizing: border-box;
  width: 140px;
  height: var(--time-height);
  background-image: var(--banner-url);
  background-size: cover;
  background-position: center;
  background-color: #cddc39;
  border-left: #cddc39 solid 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .title {
    background-color: #00000050;
    //backdrop-filter: blur(10px);
    margin: 0;
    padding: 0.2em;
  }

  .duration {
    align-self: end;
    display: block;
    background-color: #00000050;
    //backdrop-filter: blur(10px);
  }
}

.basket {
  padding: 1em;
  display: flex;
  flex-direction: column;

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    .add-timespan {
      display: flex;
      gap: 0.5em;
      align-items: center;
    }
  }

  .unassigned {
    display: flex;
    gap: 1em;
  }

  .days {
    display: grid;
    grid-auto-columns: 140px;
    grid-auto-flow: column;
    gap: 1em;

    .day {
      width: 140px;

      .title {
        border-bottom: #cddc39 solid 4px;
        margin: 0;
      }

      .slots {
        .slot {
          background-color: antiquewhite;
          height: 20px;

          &.occupied {
            background-color: red;
          }

          &:not(:last-of-type) {
            border-bottom: 1px #cddc39 dashed;
          }
        }
      }
    }
  }
}
