// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette(mat.$lime-palette);
$accent: mat.define-palette(mat.$green-palette);
$warn: mat.define-palette(mat.$pink-palette, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  ),
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.toolbar-theme($dark-theme);
@include mat.icon-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.list-theme($dark-theme);
@include mat.card-theme($dark-theme);

html {
  color-scheme: dark;
}

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.icon-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.list-color($light-theme);
  @include mat.card-color($light-theme);

  html {
    color-scheme: light;
  }
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100svh;
}
