::ng-deep.poi {
  box-sizing: border-box;
  height: var(--time-height);
  background-image: var(--banner-url);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .title {
    align-self: stretch;
    background-color: #00000050;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0.2em;
  }

  .controls {
    display: flex;
    width: 100%;

    .duration {
      margin-left: auto;
      display: block;
      background-color: #00000050;
      backdrop-filter: blur(5px);
    }

    .remove {
      cursor: pointer;
      display: block;
      border: 0;
      padding: 0;
      background-color: #00000050;
      backdrop-filter: blur(5px);
    }
  }
}

::ng-deep.pure-container {
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
}
