<article
  class="poi {{ poi().id | idToColor }}"
  [style.--banner-url]="poi().details.bannerSrc | toUrl"
  [class.hei]="!id()"
  [style.--time-height]="poi().preferredSightseeingTime | toHeight"
>
  <h5 class="title">{{ poi().details.title }} <!--{{ poi().preferredWmoCodes[0]}}--></h5>

  <span class="controls">
    @if (id()) {
      <button class="remove" (click)="scheduleStore.removeEvent(id()!)">Remove</button>
    }
    <span class="duration">{{ poi().preferredSightseeingTime | toDuration }}</span>
  </span>
</article>
